<section class="text-back">
<div class=" jumbotron container invisible-back">
    <h3 class="display-4">Внимание!!</h3>
    <p class="lead">
        Здесь должен быть продающий текст или супер предложение которое зацепит клиента Здесь должен быть продающий текст или супер предложение которое зацепит клиента
    </p>
    <hr class="my-4">
    <p>Еще чуть информации, чтобы заинтересовать Еще чуть информации, чтобы заинтересовать</p>
    <p class="lead">
            <button class="btn main-color" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Подробнее...
            </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body add-color">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
    </div>
</div>
<br>
</section>